@import url("https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Ade-Display";
  src: url(/src/assets/Ade-Display.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

.ade-display {
  font-family: "Ade-Display", sans-serif;
  font-size: larger;
  text-transform: uppercase;
}
.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sketch-red {
  border-width: 1px;
  border-style: solid;
  border-color: #ff0000;
  background-color: gainsboro;
}
.sketch-blue {
  border-width: 1px;
  border-style: solid;
  border-color: #0000ff;
  background-color: lightgray;
}
.sketch-green {
  border-width: 1px;
  border-style: solid;
  border-color: #00ff00;
  background-color: silver;
}
.body {
  font-family: "Poppins", sans-serif;
}
